/.bash_history
/.bashrc
/.cache
/.conda
/.config
/.esd_auth
/.local
/.vscode-server
/B03winkler.pdf
/Computational Physics.pdf
/Computer Simulation of Liquids by Michael P. Allen, Dominic J. Tildesley (z-lib.org).pdf
/JupyterHub
/Statistical Mechanics Theory and Molecular Simulation by Mark E. Tuckerman (z-lib.org).pdf
/Statistical Physics.pdf
/统计物理学 I(Statistical Physics, Part 1) by 列夫·达维多维奇·朗道 (作者),_ E.M.栗弗席兹 (作者),_ 郑伟谋 (注释 解说词),_ 束仁贵 (译者),_ 束莼 (译者) (z-lib.org).pdf
/统计物理学II：凝聚态理论 by E. M. Lifshitz E. M. 栗弗席兹 л. п. 皮塔耶夫斯基  王锡绂(译) (z-lib.org).pdf